{% extends 'base.html'%} {% block content %}
<div class="container" style="margin:20px auto">

    <div class="alert alert-secondary" role="alert" style="font-size:30px; font-weight: 600; text-align: center;">
        <span class="avatar avatar-blue" style="margin-right: 10px;">ETF</span>
        <span style="margin-right: 10px;">{{Ticker}}</span>
        <span>{{etf.etfName}}</span>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" style="text-align: center;">Detail Information</h3>
                </div>
                <div class="card-body">
                    <ul style="list-style-type: none;">
                        <li>Category : {{etf.category}}</li>
                        <li>Expense Ratio : {{etf.expenseRatio}}</li>
                        <li>Std Dev : {{etf.StdDev}}</li>
                        <li>Sharpe Ratio : {{etf.sharpeRatio}}</li>
                        <li>YTD Return : {{etf.YTDreturn}}</li>
                        <li>1 Year Return : {{etf.yrReturn1}}</li>
                        <li>3 Years Return : {{etf.yrReturn3}}</li>
                        <li>5 Years Return : {{etf.yrReturn5}}</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-9">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div id="tradingview_6cecb"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                    new TradingView.widget(
                        {
                            "height": 500,
                            "width": 860,
                            "symbol": "{{Ticker}}",
                            "interval": "D",
                            "timezone": "Asia/Taipei",
                            "theme": "Light",
                            "style": "1",
                            "locale": "en",
                            "toolbar_bg": "#f1f3f6",
                            "enable_publishing": false,
                            "hide_top_toolbar": true,
                            "container_id": "tradingview_6cecb"
                        }
                    );
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>
                <i class="far fa-newspaper" style="margin-right:10px;"></i>Related News</h2>
            <table class="table">
                <tbody>

                    {% for i in news %}
                    <tr>
                        <td>
                            <a href="http://finance.yahoo.com/{{i.link}}" target="_blank">
                                <h4>{{i.title}}</h4>
                            </a>
                            <p>{{i.summary}}</p>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

</div>

{% endblock %}