{% extends 'base.html'%} {% block content %}
<div class="container" style="margin:20px auto">
    <div class="alert alert-primary" style="text-align: center; font-size:30px; font-weight: 600">STEP2 : 最佳投資組合已算出!請挑選每個類別下的精選ETFs</div>
    <div class="row">
        <div class="col-3">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" style="font-size: 24px; text-align: center;">{{objective}}基金投資組合</h3>
                </div>
                <div class="card-body">
                    <div id="chart-pie" >
                        {% include 'portfolio/pie.html' %}
                    </div>
                    <ul>
                        <li>起始資金：${{startDeposit}}</li>
                        <li>投資年限：{{duration}}年</li>
                        <li>投資目標：${{targetFV}}</li>
                        <li>風險承受：{{risk_choices}}</li>
                    </ul>
                </div>
            </div>

            


        </div>

        <div class="col-9">
            <form method="POST" action="{% url 'portfolio:analyze' %}">
                {% csrf_token %}

                <!-- post 隱藏資料到下一頁 -->
                <input type="hidden" name="objective" value="{{objective}}">
                <input type="hidden" name="startDeposit" value="{{startDeposit}}">
                <input type="hidden" name="duration" value="{{duration}}">
                <input type="hidden" name="targetFV" value="{{targetFV}}">
                <input type="hidden" name="risk_choices" value="{{risk_choices}}">
                <!-- end post 隱藏資料到下一頁 -->

                <h2>US Stock ETFs -
                    <span class="badge badge-primary">{{usStockPct}}%</span>
                    <button type="button" class="btn btn-outline-secondary btn-sm ml-auto" data-toggle="popover" title="標的說明" data-content="投資美股指數型ETF，屬於高度分散">info</button>
                </h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>挑選</th>
                            <th>Ticker</th>
                            <th>ETF名稱</th>
                            <th>Expense Ratio</th>
                            <th>1Yr Return</th>
                            <th>3Yrs Return</th>
                            <th>StdDev</th>
                            <th>Sharpe Ratio</th>
                            <th>info</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for usStock in usStocks %}
                        <tr>
                            <td>
                                <input value="{{usStock.Ticker}}" name="usStock" type="radio" required="required">
                            </td>
                            <td>{{usStock.Ticker}}</td>
                            <td>{{usStock.etfName}}</td>
                            <td>{{usStock.expenseRatio}}</td>
                            <td>{{usStock.yrReturn1}}</td>
                            <td>{{usStock.yrReturn3}}</td>
                            <td>{{usStock.StdDev}}</td>
                            <td>{{usStock.SharpeRatio}}</td>
                            <td>
                                <div class="avatar">
                                    <a href="/portfolio/detail/?Ticker={{usStock.Ticker}}">
                                        <i class="fas fa-chart-line"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <hr>
                <!-- ----------World Stock ETF----------- -->
                {% if worldStockPct != 0 %}
                <h2>World Stock ETFs -
                    <span class="badge badge-primary">{{worldStockPct}}%</span>
                    <button type="button" class="btn btn-outline-secondary btn-sm ml-auto" data-toggle="popover" title="標的說明" data-content="投資全球開發市場股市指數型ETF，屬於高度分散">info</button>
                </h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>挑選</th>
                            <th>Ticker</th>
                            <th>ETF名稱</th>
                            <th>Expense Ratio</th>
                            <th>1Yr Return</th>
                            <th>3Yrs Return</th>
                            <th>StdDev</th>
                            <th>Sharpe Ratio</th>
                            <th>info</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for worldStock in worldStocks %}
                        <tr>
                            <td>
                                <input value="{{worldStock.Ticker}}" name="worldStock" type="radio" required="required">
                            </td>
                            <td>{{worldStock.Ticker}}</td>
                            <td>{{worldStock.etfName}}</td>
                            <td>{{worldStock.expenseRatio}}</td>
                            <td>{{worldStock.yrReturn1}}</td>
                            <td>{{worldStock.yrReturn3}}</td>
                            <td>{{worldStock.StdDev}}</td>
                            <td>{{worldStock.SharpeRatio}}</td>
                            <td>
                                <div class="avatar">
                                    <a href="/portfolio/detail/?Ticker={{worldStock.Ticker}}">
                                        <i class="fas fa-chart-line"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <hr>
                {% endif %}

                <!-- ----------Emerging Stock ETF----------- -->

                {% if emerStockPct != 0 %}
                <h2>Emerging Market Stock ETFs -
                    <span class="badge badge-primary">{{emerStockPct}}%</span>
                    <button type="button" class="btn btn-outline-secondary btn-sm ml-auto" data-toggle="popover" title="標的說明" data-content="投資新興市場股市指數型ETF，屬於高度分散">info</button>
                </h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>挑選</th>
                            <th>Ticker</th>
                            <th>ETF名稱</th>
                            <th>Expense Ratio</th>
                            <th>1Yr Return</th>
                            <th>3Yrs Return</th>
                            <th>StdDev</th>
                            <th>Sharpe Ratio</th>
                            <th>info</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for emerStock in emerStocks %}
                        <tr>
                            <td>
                                <input value="{{emerStock.Ticker}}" name="emerStock" type="radio" required="required">
                            </td>
                            <td>{{emerStock.Ticker}}</td>
                            <td>{{emerStock.etfName}}</td>
                            <td>{{emerStock.expenseRatio}}</td>
                            <td>{{emerStock.yrReturn1}}</td>
                            <td>{{emerStock.yrReturn3}}</td>
                            <td>{{emerStock.StdDev}}</td>
                            <td>{{emerStock.SharpeRatio}}</td>
                            <td>
                                <div class="avatar">
                                    <a href="/portfolio/detail/?Ticker={{emerStock.Ticker}}">
                                        <i class="fas fa-chart-line"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                <hr>
                {% endif %}

                <!-- ----------US Sector Stock ETF----------- -->

                {% if sectorStockPct != 0 %}
                <h2>US Sector Stock ETFs -
                    <span class="badge badge-primary">{{sectorStockPct}}%</span>
                    <button type="button" class="btn btn-outline-secondary btn-sm ml-auto" data-toggle="popover" title="標的說明" data-content="投資美國高成長產業股市指數型ETF，屬於中度分散">info</button>
                </h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>挑選</th>
                            <th>Ticker</th>
                            <th>ETF名稱</th>
                            <th>Expense Ratio</th>
                            <th>1Yr Return</th>
                            <th>3Yrs Return</th>
                            <th>StdDev</th>
                            <th>Sharpe Ratio</th>
                            <th>info</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for sectorStock in sectorStocks %}
                        <tr>
                            <td>
                                <input value="{{sectorStock.Ticker}}" name="sectorStock" type="radio" required="required">
                            </td>
                            <td>{{sectorStock.Ticker}}</td>
                            <td>{{sectorStock.etfName}}</td>
                            <td>{{sectorStock.expenseRatio}}</td>
                            <td>{{sectorStock.yrReturn1}}</td>
                            <td>{{sectorStock.yrReturn3}}</td>
                            <td>{{sectorStock.StdDev}}</td>
                            <td>{{sectorStock.SharpeRatio}}</td>
                            <td>
                                <div class="avatar">
                                    <a href="/portfolio/detail/?Ticker={{sectorStock.Ticker}}">
                                        <i class="fas fa-chart-line"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                {% endif %}

                <!-- ----------US Bond ETF----------- -->

                {% if usBondPct != 0 %}
                <h2>US Bond ETFs -
                    <span class="badge badge-primary">{{usBondPct}}%</span>
                    <button type="button" class="btn btn-outline-secondary btn-sm ml-auto" data-toggle="popover" title="標的說明" data-content="投資美國債券型ETF，屬於高度分散，低風險">info</button>
                </h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>挑選</th>
                            <th>Ticker</th>
                            <th>ETF名稱</th>
                            <th>Expense Ratio</th>
                            <th>1Yr Return</th>
                            <th>3Yrs Return</th>
                            <th>StdDev</th>
                            <th>Sharpe Ratio</th>
                            <th>info</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for usBond in usBonds %}
                        <tr>
                            <td>
                                <input value="{{usBond.Ticker}}" name="usBond" type="radio" required="required">
                            </td>
                            <td>{{usBond.Ticker}}</td>
                            <td>{{usBond.etfName}}</td>
                            <td>{{usBond.expenseRatio}}</td>
                            <td>{{usBond.yrReturn1}}</td>
                            <td>{{usBond.yrReturn3}}</td>
                            <td>{{usBond.StdDev}}</td>
                            <td>{{usBond.SharpeRatio}}</td>
                            <td>
                                <div class="avatar">
                                    <a href="/portfolio/detail/?Ticker={{usBond.Ticker}}">
                                        <i class="fas fa-chart-line"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                {% endif %}

                <!-- ----------World Bond ETF----------- -->

                {% if worldBondPct != 0 %}
                <h2>World Bond ETFs -
                    <span class="badge badge-primary">{{worldBondPct}}%</span>
                    <button type="button" class="btn btn-outline-secondary btn-sm ml-auto" data-toggle="popover" title="標的說明" data-content="投資全球債券型ETF，屬於高度分散，低風險">info</button>
                </h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th>挑選</th>
                            <th>Ticker</th>
                            <th>ETF名稱</th>
                            <th>Expense Ratio</th>
                            <th>1Yr Return</th>
                            <th>3Yrs Return</th>
                            <th>StdDev</th>
                            <th>Sharpe Ratio</th>
                            <th>info</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for worldBond in worldBonds %}
                        <tr>
                            <td>
                                <input value="{{worldBond.Ticker}}" name="worldBond" type="radio" required="required">
                            </td>
                            <td>{{worldBond.Ticker}}</td>
                            <td>{{worldBond.etfName}}</td>
                            <td>{{worldBond.expenseRatio}}</td>
                            <td>{{worldBond.yrReturn1}}</td>
                            <td>{{worldBond.yrReturn3}}</td>
                            <td>{{worldBond.StdDev}}</td>
                            <td>{{worldBond.SharpeRatio}}</td>
                            <td>
                                <div class="avatar">
                                    <a href="/portfolio/detail/?Ticker={{worldBond.Ticker}}">
                                        <i class="fas fa-chart-line"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                {% endif %}

                <button type="submit" class="btn btn-primary btn-lg btn-block">送出我的選項</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}