{% extends 'base.html' %} {% load static %} {% block content %}
<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <div class="col-md-6 col-xl6">
                <div class="card">
                    <img class="card-img-top" src="/media/{{dates.image}}" width="10%" alt="And this isn't my nose. This is a false one.">
                    <div class="card-header">
                        <div class="avatar avatar-md mr-3" style="background-image: url(/media/{{dates.image}})"></div>
                        <h3 class="card-title">{{dates.姓名}} 顧問</h3>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        <h4>經歷：{{dates.經歷}}</h4>
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <h4>學歷：{{dates.學歷}}</h4>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        <h4>證照：{{dates.證照}}</h4>
                    </div>
                    <div class="card-footer">
                        <a href="{{dates.url}}" title="推薦影音">推薦影音I</a>
                        <a href="#" title="推薦影音">推薦影音II</a>
                        <a href="#" title="推薦影音">推薦影音III</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl6">                                
                <img src="/static/images/1.jpg"><h2 style="text-align: center">操盤特色</h2>
                <div class="alert alert-danger">{{dates.操盤特色}}</div>
                <div><em style="font-weight: bolder">聯絡方式</em></div><img src="/static/images/line.jpg">
            </div>
            <div class="col-md-2 col-xl6">
                <div style="border: 3px solid royalblue">
                    <h3 style="text-align: center">廣告</h3>
                    <img src="/static/images/1.gif" alt="廣告">
                    <img src="/static/images/1.gif" alt="廣告">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}