{% extends 'base.html' %} {% load static %} {% block content %}

<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Strategy
            </h1>           
        </div>
        <h3>Your profit is: {{res}}$</h3>
        <h3>Your profit is: {{netBCR}}%</h3>
        <h3>Day in: {{buy}}</h3>
        <h3>Day in: {{buyP}}</h3>
        <h3>Day out: {{sell}}</h3>
        <h3>Day out: {{sellP}}</h3>
        <h3>Benefit: {{benefit}}$</h3>

        {% include 'out.html' %}    
          
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.16.min.js"></script> {% endblock %}
