{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col" style="height:500px; text-align:center; color: white; padding-top: 150px; background-image: url('../static/images/home1.jpg');">
      <H1>因為 AICOCO 愛摳摳 - 所以財務自由</h1>
      <h3>AICOCO是專業業的投資顧問平台，提供專業的財務決策輔助系統，讓您能夠在投資領域取得成功</h3>
      <h2>誰適合使用AICOCO?</h2>

      <h4>想要尋找專業理財顧問的人</h4>
      <h4>想要探索量化交易的人</h4>
      <h4>想要參加專業理財講座的人</h4>
      <h4>想要透過AI規劃投資目標的人</h4>
    </div>
  </div>
  <h1 style="color: rgb(188, 197, 197); text-align: center; font-size: 50px; margin:30px;">TEAM MEMBERS</h1>
  <div class="row" style="margin-top: 30px">

    <div class="col-1"></div>
    <div class="col-2">
      <span class="avatar avatar-xxl" style="background-image: url(./static/images/member1.jpg); padding-left: 40px; margin-bottom: 10px; width:10rem; height: 10rem;"></span>
      <table class="table">
        <tr>
          <td>
            <h4 style="text-align: center; ">許瑞昌</h4>
          </td>
        </tr>
        <tr>
          <td>程式小白一枚，負責會員&管理員系統</td>
        </tr>
      </table>
    </div>

    <div class="col-2">
      <span class="avatar avatar-xxl" style="background-image: url(./static/images/member2.jpg); padding-left: 40px; margin-bottom: 10px; width:10rem; height: 10rem;"></span>
      <table class="table">
        <tr>
          <td>
            <h4 style="text-align: center; ">張傑智</h4>
          </td>
        </tr>
        <tr>
          <td>娃娃機台主，精通夾娃娃，負責顧問系統</td>
        </tr>
      </table>
    </div>
    <div class="col-2">
      <span class="avatar avatar-xxl" style="background-image: url(./static/images/member3.jpg); padding-left: 40px; margin-bottom: 10px; width:10rem; height: 10rem;"></span>
      <table class="table">
        <tr>
          <td>
            <h4 style="text-align: center; ">張上遠</h4>
          </td>
        </tr>
        <tr>
          <td>正宗-投資理財經驗30年，資深AI軟體工程師</td>
        </tr>
      </table>
    </div>

    <div class="col-2">
      <span class="avatar avatar-xxl" style="background-image: url(./static/images/member4.jpg); padding-left: 40px; margin-bottom: 10px; width:10rem; height: 10rem;"></span>
      <table class="table">
        <tr>
          <td>
            <h4 style="text-align: center; ">Richard</h4>
          </td>
        </tr>
        <tr>
          <td>財經投資20年，熟悉美股ETF理財規劃，負責AI智慧組合。</td>
        </tr>
      </table>
    </div>
    <div class="col-2">
      <span class="avatar avatar-xxl" style="background-image: url(./static/images/member5.jpg); padding-left: 40px; margin-bottom: 10px; width:10rem; height: 10rem;"></span>
      <table class="table">
        <tr>
          <td>
            <h4 style="text-align: center; ">游任傑</h4>
          </td>
        </tr>
        <tr>
          <td>資深程式設計師，全班代理老師，有問題都可以問我!</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row" style="background-color: silver; padding: 20px 0px;">
   
      <div class="col-1"></div>
      <div class="col-2">
        <table class="table">
          <tr>
            <td>
              <h4 style="text-align: center; ">會員功能</h4>
            </td>
          </tr>
          <tr>
            <td>會員CRUD、email認證、管理員CRUD、google recaptcha</td>
          </tr>
        </table>
      </div>

      <div class="col-2">
          <table class="table">
            <tr>
              <td>
                <h4 style="text-align: center; ">顧問陣容</h4>
              </td>
            </tr>
            <tr>
              <td>顧問CRUD，延攬韓、日、歐、美各大顧問</td>
            </tr>
          </table>
        </div>
        <div class="col-2">
            <table class="table">
              <tr>
                <td>
                  <h4 style="text-align: center; ">交易策略</h4>
                </td>
              </tr>
              <tr>
                <td>全方位投資策略模擬，提供3種策略，50支個股量化交易模擬</td>
              </tr>
            </table>
          </div>
          <div class="col-2">
              <table class="table">
                <tr>
                  <td>
                    <h4 style="text-align: center; ">AI投資組合</h4>
                  </td>
                </tr>
                <tr>
                  <td>提供AI推薦投資組合功能，依照多種需求，推估目標達成所需之每月投資。</td>
                </tr>
              </table>
            </div>
            <div class="col-2">
                <table class="table">
                  <tr>
                    <td>
                      <h4 style="text-align: center; ">投資講座</h4>
                    </td>
                  </tr>
                  <tr>
                    <td>投資講座活動內容CRUD</td>
                  </tr>
                </table>
              </div>
    
  </div>


</div>
{% endblock %} {% block scripts %} {% endblock %}